<div class="mb-6 text-center">
  <h2 class="display-4 text-brown-700 fw-bold">記事作成</h2>
</div>

<div class="d-flex flex-wrap justify-content-center">
  <%= form_with model: @article, url: admin_articles_path, local: true, class: "col-12 col-md-10 col-lg-8", data: { turbo: false }  do |f| %>
    <%= render "admin/shared/error_messages", resource: @article %>

    <!-- Title Field -->
    <div class="mb-4">
      <%= f.label :title, class: "form-label text-muted" %>
      <%= f.text_field :title, class: "form-control border border-secondary rounded-2 shadow-sm", placeholder: "タイトルを入力してください" %>
    </div>

    <!-- Description Field -->
    <div class="mb-4">
      <%= f.label :description, class: "form-label text-muted" %>
      <%= f.text_area :description, rows: "5", class: "form-control border border-secondary rounded-2 shadow-sm", placeholder: "記事の内容を入力してください" %>
    </div>

    <!-- Image Upload Field -->
    <div class="mb-4">
      <%= f.label :image, class: "form-label text-muted" %>
      <%= f.file_field :image, class: "form-control border border-secondary rounded-2 shadow-sm" %>
    </div>

    <!-- ボタンを均等に並べる -->
    <div class="d-flex justify-content-center mt-4 mb-3">
      <!-- 戻るボタン -->
      <%= link_to admin_articles_path, class: "btn btn-outline-secondary w-45 py-2 rounded-pill shadow-lg mx-2" do %>
        <i class="bi bi-arrow-left"></i> 戻る
      <% end %>

      <!-- 作成ボタン -->
      <%= f.submit "新規作成", class: "btn btn-coffee w-45 text-white py-2 rounded-pill shadow-lg mx-2" %>
    </div>
  <% end %>
</div>
