<div class="container bg-white p-4 text-center">
  <!-- Order Placed -->
  <div class="mb-5 text-center">
    <h2 class="display-4 text-brown-700 fw-bold">注文詳細</h2>
    <p class="text-muted"><%= l @order.created_at, format: :short %></p>
  </div>

  <div class="row justify-content-center">
    <!-- Order Details Section -->
    <div class="col-lg-8">
      <div class="card mb-4 shadow-sm bg-gray-50">
        <div class="card-body">
          <h3 class="card-title text-secondary mb-4">注文詳細</h3>
          <% @order.order_items.each do |order_item| %>
            <%= link_to product_path(order_item.product), class: "text-decoration-none" do %>
              <div class="d-flex align-items-start mb-4">
                <div class="me-4 w-25">
                  <%= image_tag order_item.product.image, class: "img-fluid rounded-xl object-cover aspect-square" %>
                </div>
                <div class="flex-grow-1">
                  <h5 class="mb-2 text-dark fw-semibold"><%= order_item.product.name %></h5>
                  <p class="text-muted mb-1">金額: <%= number_to_currency(order_item.price, unit: "¥", precision: 0) %></p>
                  <p class="text-muted mb-1">数量: <%= order_item.quantity %></p>
                  <p class="text-muted mb-1">豆の状態: <%= t("enums.cart_item.bean_state.#{order_item.bean_state}") %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Summary & Shipping Address -->
    <div class="col-lg-4">
      <div class="card mb-4 shadow-sm bg-gray-50">
        <div class="card-body">
          <h3 class="card-title text-secondary mb-4">注文合計</h3>
          <div class="d-flex justify-content-between border-bottom pb-2">
            <p class="text-dark">小計</p>
            <p class="text-muted"><%= number_to_currency(@order.total_amount - @order.postage, unit: "¥", strip_insignificant_zeros: true) %></p>
          </div>
          <div class="d-flex justify-content-between border-bottom pb-2">
            <p class="text-dark">送料</p>
            <p class="text-muted"><%= number_to_currency(@order.postage, unit: "¥", strip_insignificant_zeros: true) %></p>
          </div>
          <div class="d-flex justify-content-between font-weight-bold">
            <p class="text-dark">合計</p>
            <p class="text-dark"><%= number_to_currency(@order.total_amount, unit: "¥", strip_insignificant_zeros: true) %></p>
          </div>
        </div>
      </div>

      <!-- Shipping Address -->
      <div class="card mb-4 shadow-sm bg-gray-50">
        <div class="card-body">
          <h3 class="card-title text-secondary mb-4">配送先情報</h3>
          <p class="mb-1">名前: <span class="fw-semibold text-dark"><%= @order.name %></span></p>
          <p class="mb-1">郵便番号: <span class="fw-semibold text-dark"><%= @order.postal_code %></span></p>
          <p class="mb-1">都道府県: <span class="fw-semibold text-dark"><%= @order.prefecture %></span></p>
          <p class="mb-1">住所: <span class="fw-semibold text-dark"><%= @order.address1 %></span></p>
          <% if @order.address2.present? %>
            <p class="mb-1">住所2: <span class="fw-semibold text-dark"><%= @order.address2 %></span></p>
          <% end %>
        </div>
      </div>

      <!-- Order Status -->
      <div class="card shadow-sm bg-gray-50">
        <div class="card-body">
          <h3 class="card-title text-secondary mb-4">注文状況</h3>
          <p>現在の注文状況: <span class="mt-2 bg-blue-100 text-blue-800 font-semibold py-1 px-3 rounded"><%= status_badge(@order.status) %></span></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Back Button -->
  <div class="text-center mt-4">
    <%= link_to '戻る', orders_path, class: 'btn btn-brown text-white px-4 py-2' %>
  </div>
</div>

