<section class="articles-index py-6">
  <div class="container">
    <h2 class="text-brown-700 fw-bold mb-4 text-center">ニュース</h2>

    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-3 mb-4">
          <div class="card">
            <!-- 記事画像をクリックすると詳細ページへ -->
            <%= link_to article_path(article) do %>
              <%= image_tag article.image, class: "card-img-top", alt: article.title if article.image.attached? %>
            <% end %>

            <div class="card-body">
              <!-- 記事タイトル -->
              <h5 class="card-title"><%= article.title %></h5>
              <!-- 記事作成日 -->
              <p class="card-text text-muted"><%= article.created_at.strftime("%Y年 %m月 %d日") %></p>
              <!-- 詳細ページへのリンク -->
              <%= link_to '内容を読む', article_path(article), class: 'btn btn-outline-brown py-1 rounded-pill shadow-sm text-brown-700' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</section>
