<div class="container py-4">
  <div class="mb-4">
  <h2 class="h3 fw-bold">Customer ID: <%= @customer.id %></h2>
  </div>

  <div class="card shadow-lg mb-6">
    <div class="card-header bg-brown-100 text-brown-700 text-xl font-semibold">
      <strong>顧客情報</strong>
    </div>
    <div class="card-body py-4 px-6">
      <div class="mb-3">
        <p class="text-muted mb-1">名前: <strong class="text-dark"><%= @customer.name %></strong></p>
      </div>
      <div class="mb-3">
        <p class="text-muted mb-1">注文回数: <strong class="text-dark"><%= @customer.orders.count %></strong></p>
      </div>
      <div>
        <p class="text-muted mb-1">メールアドレス: <strong class="text-dark"><%= @customer.email %></strong></p>
      </div>
    </div>
  </div>

  <!-- 注文履歴 -->
  <div class="col-md-12 mt-5">
    <div class="card">
      <div class="card-header bg-light">
        <h5 class="card-title mb-0">受注履歴</h5>
      </div>
      <div class="card-body p-0">
        <% if @customer.orders.size > 0 %>
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th class="text-center">受注日</th>
                <th class="text-center">注文金額</th>
                <th class="text-center">注文状況</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @customer.orders.latest.each do |order| %>
                <tr>
                  <td class="text-center"><%= l order.created_at, format: :short %></td>
                  <td class="text-center"><%= number_to_currency(order.total_amount, unit: "¥", strip_insignificant_zeros: true) %></td>
                  <td class="text-center">
                    <span><%= status_badge(order.status) %></span>
                  </td>
                  <td>
                    <%= link_to "詳細", admin_order_path(order), class: "btn btn-outline-brown py-1 rounded-pill shadow-sm text-brown-700" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="text-muted p-3 text-center">履歴がありません</p>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
    <!-- Back Button -->
    <%= link_to admin_customers_path, class: "btn btn-outline-secondary w-25 py-2 rounded-pill shadow-lg mx-2" do %>
      <i class="bi bi-arrow-left"></i> 戻る
    <% end %>
  </div>
</div>


