<div class="mb-6 text-center">
  <h2 class="display-4 text-brown-700 fw-bold">カート</h2>
</div>

<% if @cart_items.count == 0 %>
  <div class="text-center">カートに商品がありません。</div>
  <div class="d-flex justify-content-center mt-4">
    <%= link_to '商品を探す', products_path, class: 'btn btn-primary btn-lg bg-gradient' %>
  </div>
<% else %>
  <div class="row">
    <% @cart_items.each do |cart_item| %>
      <div class="col-md-4">
        <%= render partial: "customer/cart_items/cart_item", locals: { cart_item: cart_item } %>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4">
    <%= render partial: "customer/cart_items/total_summary", locals: { 
      total_amount: @total_price + 500, 
      postage: 500 
    } %>
  </div>

  <div class="d-flex justify-content-center mt-4 mb-3">
  <!-- 戻るボタン -->
  <%= link_to products_path, class: "btn btn-outline-secondary px-4 py-2 rounded-pill shadow-lg mx-2" do %>
    <i class="bi bi-arrow-left"></i> 戻る
  <% end %>

  <!-- 決済ボタン -->
  <%= button_to checkouts_path, data: { turbo: false }, class: "btn btn-coffee text-white px-4 py-2 rounded-pill shadow-lg mx-2" do %>
    <i class="bi bi-check-circle"></i> 決済する
  <% end %>
</div>
<% end %>
